.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin: auto;
    padding: 20px;
}
.card-button{
    color: white;
    background-color: rgb(6, 6, 6);
    border-color: black;
    width:100px;
    border-radius: 5px;
    padding: 8px;
    /* border: 1px solid rgb(233, 226, 226); */
    margin-left: 8px;
    text-align: center;
}

.buttons{
    display: flex;
}